{% extends 'MuziekDL/default_template.html' %}

{% block content %}
    <div class="section">
        <div class="container">
            <h2 class="header center">Enter an URL</h2>
            <form action="{% url 'parse_id' %}" method="post" class="row center">
                {% csrf_token %}
                <input id="search" type="search" name="search" required>
                <button class="btn waves-effect waves-light" type="submit">Search</button>
            </form>
        </div>
    </div>

    <div class="section">
        <div class="container">
            {% if latest_songs_list %}
                <ul class="collection with-header">
                    <li class="collection-header"><h4>Latest songs added: </h4></li>
                    {% for song in latest_songs_list %}
                        <li class="collection-item">
                            <a href="{% url 'form_id' song.id %}">
                                {{ song }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <h4>No songs have been entered yet.</h4>
            {% endif %}
        </div>
    </div>
{% endblock %}